<header class="row bg-success text-white">
  <h2 routerLink="/">Biblioteca</h2>
</header>

<!--<div class="row bg-success text-white">
  <h2 class="col text-center" routerLink="/">Biblioteca IFSP</h2>
</div>-->
<h3>Sistema</h3>
<div id="container">
  <div class="row" id="biblioteca">
    <div class="card col" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Livros</h5>  
        <a routerLink="/cadastroLivro" class="card-link btn btn-success">Cadastrar Livro</a>
        <a routerLink="/livros" class="card-link btn btn-dark">Ver todos</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card col" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Usuários</h5>  
        <a routerLink="/cadastroUsuario" class="card-link btn btn-success">Cadastrar Usuário</a>
        <a routerLink="/usuarios" class="card-link btn btn-dark">Ver todos</a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>